.git
.github
.venv
venv
.env
.env.*
build
dist
htmlcov
pytest-of-root
*.egg-info
__pycache__
*.py[cod]
.coverage*
.mypy_cache
.pytest_cache
.ruff_cache
*.db
*.db-*
*.sqlite
*.sqlite3
*.log
.DS_Store
.idea
.vscode
